<div id="screen" class="">
  <img id="field" src="../../assets/images/poke_top_blank.jpg" alt="">
  <img *ngIf="gameState.player_chosen" id="opponent"
      src="https://img.pokemondb.net/sprites/black-white/anim/normal/{{ gameState.enemy.name | toImageName}}.gif"
      alt="{{ gameState.enemy.name}}"
      [style.width.px]=" gameState.enemy.img_width">
  <img *ngIf="gameState.player_chosen" id="player"
      src="https://img.pokemondb.net/sprites/black-white/anim/back-shiny/{{ gameState.main.img_name}}.gif"
      alt="{{ gameState.main.name}}"
      [style.width.px]=" gameState.main.img_width">
  <div *ngIf="gameState.player_chosen" id="opponent-card">
    <div id="opponent-name" class="displaying">{{ gameState.enemy.name}}</div>
    <div id="opponent-level" class="displaying">{{ gameState.enemy.level}}</div>
    <div id="opponent-health" class="placeholder"
          [style.width.px]="getEnemyHealthWidth()"
          [style.left.px]="getEnemyHealthStart()"></div>
  </div>

  <div *ngIf="gameState.player_chosen" id="player-card">
    <div id="player-name" class="displaying">{{ gameState.main.name}}</div>
    <div id="player-level" class="displaying">{{ gameState.main.level}}</div>
    <div id="player-health" class="placeholder"
        [style.width.px]="getMainHealthWidth()"
        [style.left.px]="getMainHealthStart()"></div>
    <div id="player-health-left" class="displaying">{{ gameState.main.current_hp}}</div>
    <div id="player-health-right" class="displaying">{{ gameState.main.max_hp}}</div>
    <div id="player-exp" class="placeholder"
        [style.width.px]=" gameState.main.exp_width"></div>
</div>

  <div id="chat-box" class="displaying p-2">
    {{gameState.text}}
    <!-- {{player | json}} -->
  </div>

</div>
