#main {
  border: 2px solid black;
  /* width: 200px; */
  background-color: white;
}
#name {

}
.pill {
  border: 2px solid grey;
  border-radius: 4px;
}
.is_highlighted
{
  font-weight: bold;
  border: none;
}
