<div class="main placeholder container">
  <div *ngIf="game_state.battle_started" class="d-flex flex-wrap center p-3">
    <mv-card *ngFor="let card of game_state.players.main.moves"
              [move]="card"
              [player]="game_state.players.main"
              class="flex-fill">
    </mv-card>
  </div>
  <div *ngIf="!game_state.player_chosen" class="row d-flex align-items-stretch center p-3">
    <pk-choice *ngFor="let choice of game_state.starter_choices"
                [choice]="choice">
    </pk-choice>
    <pk-select-form [game_state]="game_state"></pk-select-form>
    <div id="refresh_box" class="">
      <p>Refresh Attempts Left: {{game_state.refreshs}}</p>
      <a (click)="game_state.refresh_choices()">
        <button type="button" name="refresh" class="my-3 mx-1 btn btn-primary"
                [disabled]="game_state.refreshs<=0">
          Refresh
        </button>
      </a>
    </div>
  </div>
  <a *ngIf="!game_state.battle_started && game_state.player_chosen"
      (click)="game_state.start()"
      class="p-3">
        <button type="button"
                name="start"
                class="btn btn-primary p-3">
                  Start Battle
        </button>
  </a>
</div>
