<div class="main placeholder container">
  <div *ngIf="gameState.battle_started" class="d-flex flex-wrap center p-3">
    <mv-card *ngFor="let card of gameState.main.moves"
              [move]="card"
              [player]="gameState.main"
              class="flex-fill">
    </mv-card>
    <a
        (click)="gameState.slowDown()"
        class="p-3">
          <button type="button"
                  name="slowDown"
                  class="btn btn-primary p-3">
                    Slow Down
          </button>
    </a>
    <a
        (click)="gameState.speedUp()"
        class="p-3">
          <button type="button"
                  name="speedUp"
                  class="btn btn-primary p-3">
                    Speed Up
          </button>
    </a>
  </div>
  <div *ngIf="!gameState.player_chosen" class="row d-flex align-items-stretch center p-3">
    <pk-choice *ngFor="let choice of gameState.starter_choices"
                [choice]="choice">
    </pk-choice>
    <pk-select-form [gameState]="gameState"></pk-select-form>
  </div>
  <a *ngIf="!gameState.battle_started && gameState.player_chosen"
      (click)="gameState.start()"
      class="p-3">
        <button type="button"
                name="start"
                class="btn btn-primary p-3">
                  Start Battle
        </button>
  </a>
</div>
